/*todo esto corresponde a los estilos del Navbar*/
#navbarNav,
.containerNav {
  justify-content: center;
  align-items: center;
 
  background-color: #025464;
  padding: 0;

}
.title {
  margin-left: 1rem;
  color: rgb(235, 243, 235);
  font-family: 'Merriweather', serif;
  text-decoration: none;
  margin-right: 5rem;

}

.title:hover {
  color: #E8AA42;
}

#iconoCarrito{
  width: 2rem;
  height: 2rem;
}
.navbar {
  padding: 0;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  color:#EFE9E7;

}

.nav-link:hover {
  color:#E8AA42}

/*hasta aqui terminan los estilos del navbar*/




/*color de la letra martin*/
.nombre span {
  color: #E8AA42;
}

/*estilos de boton*/
.botoncv {
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(15, 214, 214);
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 11px -5px blueviolet
}

.botoncv:hover {
  background-color: beige;
  box-shadow: none;
  transition: ease-in 0.5s;
}
.infoMartin{
  text-align:center;
  padding: 0;
background-color: #025464;
}

#imgmartinipn{
  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: #025464;
  height: 30rem;
  }

  *{
  background-color: #025464;
}

.texto{
 text-align: justify;
 font-size: 1.2em;
 color: #EFE9E7;
}

.segundaTarjeta {
  margin: 0 !important;

}

.card-body.segundaTarjeta {
  margin: 0 !important;
}

#tituloIngeniero{
  text-align: center;
}

.infoMartin1{
  margin-top: 100px;
}

#imgmartinIng{
  padding: 0%;
}